<!DOCTYPE html>
<html>

<head>

<title>Ecommerce Store</title>

<style>

body{
font-family: Arial;
background:#f5f5f5;
margin:40px;
}

h1{
color:#333;
}

</style>

</head>

<body>

<h1>My Ecommerce Store</h1>
<a href="/">Home</a> |
<a href="{% url 'cart' %}">Cart</a> |
<a href="{% url 'order_history' %}">My Orders</a> |
<a href="{% url 'login' %}">Login</a> |
<a href="{% url 'register' %}">Register</a> |
<a href="{% url 'logout' %}">Logout</a>

<hr>
{% block content %}

{% endblock %}

</body>

</html>